registry=https://registry.npmjs.org/
@identy:registry=https://identy.jfrog.io/identy/api/npm/identy-npm/
//identy.jfrog.io/identy/api/npm/identy-npm/:_password=UEoyekRxNGMyeHVCZDc=
//identy.jfrog.io/identy/api/npm/identy-npm/:username=credify
//identy.jfrog.io/identy/api/npm/identy-npm/:email=marcelo.aguiar@credify.com.br
//identy.jfrog.io/identy/api/npm/identy-npm/:always-auth=true
